NODE_ENV="development"
PORT="8000"
DB_PASSWORD="lendsqr"
DB_USERNAME="root"
DB_DATABASE="lendsqr"
DB_HOST="127.0.0.1"
DB_SOCKET=""
EMAIL_HOST=""
EMAIL_USER=""
EMAIL_PASS=""
EMAIL_FROM=""
TERMII_BASE_URL=""
TERMII_API_TOKEN=""
MESSAGEFROM=""
REDIS_URL=""
REDIS_PORT=""
REDIS_PASSWORD=""
SALT_ROUNDS="10"
ENCRYPTION_KEY=""
BUCKET_URL=""
BUCKET_NAME="lendsqr"
LENDSQR_BASE_URL=""


